In [1]:
import pandas as pd

data = pd.read_csv(
    "../trained_models/e020-auxiliary-loss/valid_dataset_e020-auxiliary-loss.csv"
)

In [2]:
data

,index,Clothing ID,Age,Title,Review Text,Rating,label,Positive Feedback Count,Division Name,Department Name,Class Name,fold,valid_pred
0,3,0,45,NaN,I was really pleased with this skirt. the ligh...,4,1,9,General,Bottoms,Skirts,0,0.998659
1,5,0,62,Beautiful day to evening skirt,A lovely skirt and i'm so glad i found it befo...,3,1,0,General,Bottoms,Skirts,0,0.998490
2,6,0,73,Too small,I usually wear a 6 and ordered two other skirt...,1,0,7,General,Bottoms,Skirts,0,0.093017
3,18,2,38,Amazing find!,I can?t describe my love for this sweater! sim...,4,1,0,General,Tops,Sweaters,0,0.997584
4,20,2,42,Cropped and boxy,"It is a beautiful sweater, but it is cropped a...",1,0,0,General,Tops,Sweaters,0,0.142232
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3329,9982,232,38,NaN,"Adorable dress, amazing fit!",4,1,0,General,Dresses,Dresses,0,0.998073
3330,9983,232,39,Beautiful color and fit,NaN,4,1,8,General,Dresses,Dresses,0,0.995066
3331,9987,232,42,A new favorite!!,I was hesitant to buy this dress due to there ...,4,1,0,General,Dresses,Dresses,0,0.997343
3332,9991,232,50,Pretty but not for me :(,I ordered this dress in pm and it was very tig...,2,1,2,General,Dresses,Dresses,0,0.638610
3333,9996,232,58,NaN,"I loved the dress, but just not dressy enough ...",0,1,5,General,Dresses,Dresses,0,0.946745

In [3]:
data["Title"] = data["Title"].fillna("")
data["Review Text"] = data["Review Text"].fillna("")

data["full_text"] = data["Title"] + " " + data["Review Text"]

data["Title_word_num"] = data["Title"].apply(lambda x: len(x.split()))
data["Review_word_num"] = data["Review Text"].apply(lambda x: len(x.split()))
data["full_text_word_num"] = data["full_text"].apply(lambda x: len(x.split()))

In [9]:
data["full_text"].value_counts()[data["full_text"].value_counts() >= 2]

full_text
                155
Love it!          3
Love              2
Great fit!        2
Beautiful!        2
Great pants       2
Super cute        2
Love!             2
Comfy             2
Classic           2
Name: count, dtype: int64

In [3]:
data["full_text_word_num"].value_counts()

full_text_word_num
0      155
2       79
100     61
43      56
3       55
      ...
113      5
115      4
114      4
117      1
116      1
Name: count, Length: 118, dtype: int64

In [4]:
data[data["full_text_word_num"] == 0]

,index,Clothing ID,Age,Title,Review Text,Rating,label,Positive Feedback Count,Division Name,Department Name,Class Name,fold,valid_pred,full_text,Title_word_num,Review_word_num,full_text_word_num
12,50,3,37,,,4,1,0,General,Dresses,Dresses,0,0.940790,,0,0,0
26,111,5,38,,,3,1,0,General,Tops,Sweaters,0,0.940298,,0,0,0
33,124,6,43,,,3,1,0,General,Bottoms,Skirts,0,0.939692,,0,0,0
41,144,7,32,,,4,1,0,General,Tops,Blouses,0,0.939360,,0,0,0
60,201,7,52,,,2,1,0,General,Tops,Blouses,0,0.939081,,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3198,9582,226,42,,,4,1,0,General,Dresses,Dresses,0,0.940844,,0,0,0
3260,9779,226,65,,,4,1,0,General,Dresses,Dresses,0,0.940953,,0,0,0
3262,9788,226,69,,,4,1,0,General,Dresses,Dresses,0,0.940681,,0,0,0
3275,9834,228,71,,,2,0,44,General,Jackets,Outerwear,0,0.939248,,0,0,0
3277,9839,229,54,,,4,1,3,General,Bottoms,Jeans,0,0.940735,,0,0,0

In [ ]:
data[data["full_text_word_num"] == 0]