In [1]:
import pandas as pd

data = pd.read_csv(
    "../trained_models/e020-auxiliary-loss/valid_dataset_e020-auxiliary-loss.csv"
)

In [ ]:
data

In [2]:
data["Title"] = data["Title"].fillna("")
data["Review Text"] = data["Review Text"].fillna("")

data["full_text"] = data["Title"] + " " + data["Review Text"]

data["Title_word_num"] = data["Title"].apply(lambda x: len(x.split()))
data["Review_word_num"] = data["Review Text"].apply(lambda x: len(x.split()))
data["full_text_word_num"] = data["full_text"].apply(lambda x: len(x.split()))

In [3]:
data["full_text_word_num"].value_counts()

full_text_word_num
0      155
2       79
100     61
43      56
3       55
      ...
113      5
115      4
114      4
117      1
116      1
Name: count, Length: 118, dtype: int64

In [4]:
data[data["full_text_word_num"] == 0]

,index,Clothing ID,Age,Title,Review Text,Rating,label,Positive Feedback Count,Division Name,Department Name,Class Name,fold,valid_pred,full_text,Title_word_num,Review_word_num,full_text_word_num
12,50,3,37,,,4,1,0,General,Dresses,Dresses,0,0.940790,,0,0,0
26,111,5,38,,,3,1,0,General,Tops,Sweaters,0,0.940298,,0,0,0
33,124,6,43,,,3,1,0,General,Bottoms,Skirts,0,0.939692,,0,0,0
41,144,7,32,,,4,1,0,General,Tops,Blouses,0,0.939360,,0,0,0
60,201,7,52,,,2,1,0,General,Tops,Blouses,0,0.939081,,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3198,9582,226,42,,,4,1,0,General,Dresses,Dresses,0,0.940844,,0,0,0
3260,9779,226,65,,,4,1,0,General,Dresses,Dresses,0,0.940953,,0,0,0
3262,9788,226,69,,,4,1,0,General,Dresses,Dresses,0,0.940681,,0,0,0
3275,9834,228,71,,,2,0,44,General,Jackets,Outerwear,0,0.939248,,0,0,0
3277,9839,229,54,,,4,1,3,General,Bottoms,Jeans,0,0.940735,,0,0,0

In [ ]:
data[data["full_text_word_num"] == 0]